html {
    height: 98%;
}
body {
    background: #f5f5d5;
    height: 100%;
}
#commonStyle_adaptor {
    width: 760px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    left: -34px;
}
#pageHead {
    width: 750px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    border-bottom: 1px solid #d3d3d3;
}
#pageHead #titleName{
    display: inline-flex;
    color: #567;
}
#pageHead div {
    display: inline-flex;
    position: relative;
    left: 356px;
}
#totalSearch {
    border: 1px solid #d6d8bd;
}

.uploadBox {
    height: 150px;
    width: 750px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}

.uploadBox label {
    display: block;
    text-align: center;
    color: #0c90b7;
    font-size: medium;
    position: absolute;
    top: 43px;
    left: 100px;
}
.upload{
    display: inline-block;
    width: 70px;
    height: 70px;
    text-indent: -999999px;
    border: none;
    border-radius: 5px;
    color: transparent;
    position: absolute;
}
#vueUpload #fileInput_one {
    top: 39px;
    left: 15px;
}

.up-wait,
.up-done {
    display: inline-block;
    border: 1px solid #a9a9a9;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    position: absolute;
    top: 39px;
    left: 15px;
    z-index: -10;
}
#fileStyleAdapter img {
    height: 100%;
    width: 100%;
}
.up-wait:after{
    content: "+";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 50px;
    top: 0px;
    left: 16px;
    opacity: 0.7;
}
.submitSpan{
    position: relative;
    width: 55px;
    height: 30px;
    border: 1px solid #90a2f9;
    border-radius: 5px;
    background: #576dd8;
    line-height: 30px;
    display: block;
    text-align: center;
    color: white;
    font-family: cursive;
    cursor: pointer;
    top: 78px;
    left: 100px;
}
#fileSubmitBtn:hover {
    border: 1px solid #0c90b7;
    background: #78bd67;

}

#vueListFiles {
    position: relative;
    width: 750px;
    margin: 0 auto;
}
#vueListFiles ul {
    border: 1px solid #78bd67;
    width: 750px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    padding-bottom: 5px;
    top: 35px;
}

.up-done img{
    width: 100%;
    height: 100%;
}
#vueListFiles ul li {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    color: #576dd8;
    border-bottom: 1px dotted #330f0f;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 5px;
    height: 35px;
    line-height: 35px;
}
#vueListFiles ul li .display_fileName {
    display: inline-block;
    width: 400px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#vueListFiles ul li .display_fileSize {
    position: relative;
    text-align: right;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    width: 150px;
}
li.vdir span.disc {
    color: #af9206;
}
li.vimg span.disc {
    color: #0c6dbf;
}
li.vvideo span.disc {
    color: #4aa512;
}
li.vfile span.disc {
    color: #101010;
}
#vueListFiles ul li .fileOptions {
    float: right;
}
.fileOptions span {
    cursor: pointer;
    margin-left: 10px;
}

#vueListFiles span#refreshList {
    position: absolute;
    right: 15px;
    top: 7px;
    color: #0b2dd2;
    cursor: pointer;
}
.fileIcon {
    position: relative;
    bottom: 10px;
}
/** 刷新 */
.icon-shuaxin:before {
    content: "\e669";
}
/** 遮罩 */
#shadowBox {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(179, 176, 176, 0.6);
    display: none;
}
#shadowBox img{
    max-width: 500px;
    display: block;
    max-height: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 200px);
}
#closeShadow{
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}